# Build and Release Folders
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code / Rider
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# OS files
Thumbs.db
Desktop.ini
